#wrapper {
	display:grid;
	grid-template-columns: repeat(6, 1fr);
}

.workout {
	width:150px;
	position: relative;
	margin:10px;
	border:1px solid rgba(0,0,0,.1);
	padding:30px 10px 10px 10px;
}

.settings {
	position:absolute;
	top:3px;
	right:3px;
	width:24px;
	height: 24px;
	background: url('img/settings.svg');
	opacity: 0;
	transition:opacity .5s ease;
}

.workout:hover .settings {
	opacity:.25;
}

.title {
	width:100%;
	font-size:25px;
	font-family: sans-serif;
	border:none;
}


.total {
	font-size: 25px;
	font-weight: bold;
}

.total::before {
	content: "Total";
	font-size:initial;
	display: block;
	font-weight: normal;
}

.total, .title, .count, .reps {
	text-align: center;
}

.add-set {
	width:100%;
	background: #1DA1F2;
	border:none;
	color:#FFF;
	padding:3px;
}

.add-set:hover, .title:hover, .reps:hover, .settings:hover {
	cursor:pointer;
}

.sets {
	position:relative;
	padding:20px 0 0 0;
}

.sets::before, .sets::after {
	position:absolute;
	top:0px;
}

.sets::before {
	content: "Sets";
	left:0px;
}

.sets::after {
	content: "Reps";
	right:50%;
	transform: translate3d(100%, 0, 0);
}

.set {
	display:grid;
	grid-template-columns: 30px 1fr;
	grid-auto-rows:minmax(30px, auto);
	grid-gap:10px;
	justify-items:center;
	align-items: center;
}

.count {
	border:1px solid;
	width:100%;
	background: #FFF;
}

.reps {
	width:100%;
}

@media screen and (max-width: 305px) {
	#wrapper {
		grid-template-columns: 1fr;
	}

	.workout {
		width:90%;
	}
}

