.workout {
    display: grid;
    grid-gap: 5px;
    width: 300px;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 46px;
}

.workout .title, .workout .total, .workout .add-set {
    grid-column: 1/-1;
}

.workout .reps {
	grid-column: 2/-1;
}

.workout .title {
	text-align: center;
}

.workout .title:empty::before {
	content: attr(placeholder);
	display: block;
	text-align: center;
}

.workout .total::before {
	content: 'Total';
	display: block;
	text-align: center;
}

.workout > * {
    border: 1px solid;
}